<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>错误</title>
</head>

<body>
<div align="center"><img src="unknown.jpg" width="201" height="152" /><em>{{Text}}</em>{% if prevpage != -1 %}
   <a align="center" class="button"  href="loadingHtml?html={{m_html}}&page={{prevpage}}">上一张 </a>
{% endif %}</div>

</body>
</html>
